beautifulsoup4==4.12.3
bs4==0.0.2
celery==5.3.6
Django==4.2.15
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-decouple==2.1
django-filter==24.2
django-jsonfield==1.4.1
django-storages==1.14.2
djangorestframework==3.15.2
drf-yasg==1.21.7
Khayyam==3.0.17
Markdown==3.7
paramiko==3.4.0
pillow==10.4.0
psycopg==3.2.1
psycopg2-binary==2.9.9
requests==2.32.3
tzdata==2024.1
virtualenv==20.26.3
